<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <id>
            <label>Interactive Design</label>
            <sort_order>195</sort_order>
        </id>
    </tabs>

    <sections>
        <feed translate="label" module="feed">
            <label>Skroutz Feed Options</label>
            <tab>id</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <collection translate="label">
                    <label>Product Collection Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>102</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <excluded_cats translate="label">
                            <label>Excluded Categories</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </excluded_cats>

                        <show_unavailable translate="label">
                            <label>Show out of stock products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </show_unavailable>

                        <attribute translate="label">
                            <label>Attribute to check against</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </attribute>
                    </fields>
                </collection>

                <feed translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>101</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <store_name translate="label">
                            <label>Store name parameter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </store_name>

                        <xml_file_name translate="label">
                            <label>XML filename</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </xml_file_name>

                        <feed_path translate="label">
                            <label>Feed path</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </feed_path>
                    </fields>
                </feed>

                <messages translate="label">
                    <label>Messages Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>102</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <in_stock translate="label">
                            <label>Available message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </in_stock>

                        <out_of_stock translate="label">
                            <label>Out of stock message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                        </out_of_stock>

                        <backorder translate="label">
                            <label>Backorder message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </backorder>
                    </fields>
                </messages>
            </groups>
        </feed>
    </sections>
</config>
